<footer class="bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div>
                <img class="h-8" src="/images/logo.png" alt="로고">
                <p class="mt-4 text-sm text-gray-500">더 스마트한 원가계산의 시작</p>
            </div>
            <!-- <div>
                <h3 class="text-sm font-medium text-gray-900">제품</h3>
                <ul class="mt-4 space-y-4">
                    <li> <a href="#" class="text-sm text-gray-500 hover:text-gray-900">기능</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">가격</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">보안</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-sm font-medium text-gray-900">고객지원</h3>
                <ul class="mt-4 space-y-4">
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">도움말</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">문의하기</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">FAQ</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-sm font-medium text-gray-900">회사</h3>
                <ul class="mt-4 space-y-4">
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">소개</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">블로그</a>
                    </li>
                    <li>
                        <a href="#" class="text-sm text-gray-500 hover:text-gray-900">채용</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="mt-8 border-t border-gray-200 pt-8">
            <p class="text-sm text-gray-400">&copy; 2024 원가계산기. All rights reserved.</p>
        </div>
    </div>
</footer>